 <!-- Wrapper de conteúdo. Contém o conteúdo da página -->
  <div class="content-wrapper">
    <!-- Cabeçalho de conteúdo (cabeçalho da página) -->
    <section class="content-header">
      <h1>
        Cabeçalho da página
        <small>Descrição opcional</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Conteúdo principal -->
    <section class="content">

      <!-- Conteúdo da sua página aqui -->

    </section>
    <!-- /.Conteúdo -->
  </div>
  <!-- /.Contaudo do cabeçalho -->